In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/raw/student-combine.csv")
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3', 'subject'],
      dtype='object')

# **Question Formualation & Data Analysis**

## **Q1: Các yếu tố về gia đình (như `famsize`, `Medu`, `Fedu`, ...) có ảnh hưởng đến kết quả học tập của một học sinh hay không?**

### **The question**
- Tập trung vào mối quan hệ giữa các biến độc lập thuộc nhóm gia đình (`famsize`, `Pstatus`, `Medu`,...) và biến Target là điểm số cuối kì `G3`

### **Motivation and Benefits**
- Câu hỏi đáng để nghiên cứu: Gia đình là môi trường giáo dục đầu tiên, có ảnh hưởng lớn để sự phát triển của trẻ vị thành niên. Việc xác định những yếu tố về gia đình như tình trạng gia đình, trình độ học vấn của ba mẹ, mối quan hệ của học sinh với gia đình có phải là những yếu tố dựa đoán mạnh mẽ rằng học sinh sẽ học tập tốt hơn hay không.
- Lợi ích và Insight mang lại: 
    - Học vấn của mẹ (Medu) hay của bố (Fedu) có ảnh hưởng lớn hơn đến kết quả học tập của con cái.
    
- Đối tượng quan tâm:
    - Giáo viên, hiệu trưởng: để hiểu rõ hoàn cảnh của học sinh và từ đó có cái nhìn khách quan hơn, và có các phương pháp tiếp cận phù hợp.
    - Bộ giáo dục: có các chính sách để bổ trợ cho các nhóm học sinh yếu thế.

- Vấn đề thực tế có thể được giải quyết: Kết quả phân tích giúp ta xây dựng được các chương trình **Can thiệp sớm**. Thay vì đợi học sinh học yếu đi thì mới hỗ trợ hay chỉ hỗ trợ những học sinh nghèo vượt khó. Ta còn có thể dựa vào các yếu tố về gia đình có thể xác định các học sinh vào nhóm có *nguy cơ cao* ngay từ đầu năm học để cung cấp và hỗ trợ về cố vấn học tập hay tài chính kịp thời.

In [4]:
fam_features = ["famsize", "Pstatus", "Medu", "Fedu", "Mjob", "Fjob", "famsup", "famrel"]

# Tạo dataframe chỉ gồm các yếu tố liên quan đến gia đình
df_fam = df[[f"{f}" for f in fam_features]].copy()

# Thêm cột target và dataframe
df_fam['G3'] = df['G3']

df_fam

     famsize Pstatus  Medu  Fedu      Mjob      Fjob famsup  famrel  G3
0        GT3       A     4     4   at_home   teacher     no       4   6
1        GT3       T     1     1   at_home     other    yes       5   6
2        LE3       T     1     1   at_home     other     no       4  10
3        GT3       T     4     2    health  services    yes       3  15
4        GT3       T     3     3     other     other    yes       4  10
...      ...     ...   ...   ...       ...       ...    ...     ...  ..
1039     GT3       T     2     3  services     other     no       5  10
1040     LE3       T     3     1   teacher  services    yes       4  16
1041     GT3       T     1     1     other     other     no       1   9
1042     LE3       T     3     1  services  services     no       2  10
1043     LE3       T     3     2  services     other     no       4  11

[1044 rows x 9 columns]

## **Q2: Dựa vào hoàn cảnh gia đình, học tập, xã hội để dự đoán học sinh có trở nên uống rượu nhiều hơn hay không? (sử dụng Machine Learning)**